/* Neue Kabel Font Faces */
@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('./Neue_Kabel_Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('./Neue_Kabel_ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./Neue_Kabel_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./Neue_Kabel_Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./Neue_Kabel_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./Neue_Kabel_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./Neue_Kabel_ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 800;
    font-display: swap;

    src: url('./Neue_Kabel_Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Kabel';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./Neue_Kabel.woff2') format('woff2');
}