<div style="color: rgb(0, 0, 0); text-align: left">
    <h1 style="margin: 1rem 0">Trouble signing in?</h1>
    <p style="padding-bottom: 16px">
      We've received a request to reset the password for this account.
    </p>
    <p style="padding-bottom: 16px">
      <a
        href="<%= frontendURL %>/newpassword/<%= token %>"
        target="_blank"
        style="
          padding: 12px 24px;
          border-radius: 4px;
          color: #fff;
          background: #2b52f5;
          display: inline-block;
          margin: 0.5rem 0;
        "
        >Reset your password</a
      >
    </p>
    <p style="padding-bottom: 16px">
      If you didn't ask to reset your password, you can ignore this email.
    </p>
    <p style="padding-bottom: 16px">Thanks,<br />The Fore4rth team</p>
  </div>